@model NotNetflix.Models.Utilizador

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes de conta</h1><p class="text-right"><a asp-action="Index" asp-controller="Home">PÁGINA INICIAL</a>&ensp;<a href="javascript:window.history.back();">VOLTAR</a></p>

<div>
 
  
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.N_telemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.N_telemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar dados</a> |
    @if (User.IsInRole("Gestor")) {
    <a asp-action="Index">Back to List</a>
    }
</div>
