@model IEnumerable<NotNetflix.Models.Filme>

@{
    ViewData["Title"] = "Index";
}
@*
        @{int i;
           @* List<> condicoes = { "Model.OrderBy(d => d.Data).Take(6)", "Model.OrderByDescending(r => r.Rating).Take(6)", "Model.OrderByDescending(d => d.Duracao).Take(6)" };
      }

    @for (i = 0; i < 3; i++)
    {
        <div class="box">
            <div class="head">
                <h2>@Html.Raw(ViewBag.Headers[i])</h2>
                <p class="text-right"><a asp-action="AllFilmes" asp-controller="Home" asp-route-id="i">See all</a></p>
            </div>

            @foreach (var item in condicoes[i])
            {


                <div class="movie">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="movie-image">
                            <span class="play"><span class="@item.Titulo."></span></span>

                            <a asp-action="FilmePag" asp-route-id="@item.Id">
                                <img src="~/fotos/@item.ListasDeFotografias.Min(f => f.Path)" alt="" />
                            </a>
                        </div>

                    }
                    else
                    {
                        <div class="movie-image">
                            <span class="play"><span class="@item.Titulo."></span></span>

                            <a asp-area="Identity" asp-page="/Account/Login">
                                <img src="~/fotos/@item.ListasDeFotografias.Min(f => f.Path)" alt="" />
                            </a>
                        </div>
                    }
                    <div class="rating">
                        <p>RATING @item.Rating/10</p><br />
                        <p>Ano : @item.Data.Year</p><br />
                        <p>Duracao : @item.Duracao</p><br />
                        @if (User.IsInRole("Gestor"))
                        {
                            <a asp-action="Edit" asp-controller="Filmes" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" asp-controller="Filmes" asp-route-id="@item.Id"> Details </a>
                            <a asp-action="Delete" asp-controller="Filmes" asp-route-id="@item.Id"> Delete </a>
                        }
                    </div>
                </div>
            }
            <div class="cl">&nbsp;</div>
        </div>
    }

*@

<div class="box">
    <div class="head">
        <h2>RECENTES</h2>
        
        <p class="text-right"><a href="javascript:window.history.back();">VOLTAR</a>@*<a asp-action="AllFilmes" asp-controller="Home" asp-route-a="1">See all</a>*@</p>
    </div>

    @foreach (var item in Model.OrderByDescending(d => d.Data).Take(6))@*Trazer a lista do controller através de viewbag*@
    {


        <div class="movie">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="movie-image">
                    <span class="play"><span class="@item.Titulo."></span></span>

                    <a asp-action="FilmePag" asp-route-id="@item.Id">
                        <img src="~/fotos/@item.ListasDeFotografias.Min(f => f.Path)" alt="" />
                    </a>
                </div>

            }
            else
            {
                <div class="movie-image">
                    <span class="play"><span class="@item.Titulo."></span></span>

                    <a asp-area="Identity" asp-page="/Account/Login">
                        <img src="~/fotos/@item.ListasDeFotografias.Min(f => f.Path)" alt="" />
                    </a>
                </div>
            }
            <div class="rating">
                <p>RATING @item.Rating/10</p><br />
                <p>Ano : @item.Data.Year</p><br />
                <p>Duracao : @item.Duracao</p><br />
                @if (User.IsInRole("Gestor"))
                {
                    <a asp-action="Edit" asp-controller="Filmes" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-controller="Filmes" asp-route-id="@item.Id"> Delete </a>
                }
            </div>
        </div>
    }

    <div class="cl">&nbsp;</div>
</div>
<div class="box">
    <div class="head">
        <h2>A ESCOLHA DOS CRÍTICOS</h2>
        <p class="text-right"><a asp-action="AllFilmes" asp-controller="Home" asp-route-a="2">See all</a></p>
    </div>

    @foreach (var item in Model.OrderByDescending(r => r.Rating).Take(6))
    {
        <div class="movie">                                                                                                                                     @*Select path from lista ,(select min(id) from lista) as tbl where lista.id=tbl.id *@                
            <div class="movie-image"> <span class="play"><span class="name"></span></span> <a asp-action="FilmePag" asp-route-id="@item.Id"><img src="~/fotos/@item.ListasDeFotografias.Min(p => p.Path)" alt="" /></a> </div>
            <div class="rating">
                <p>RATING @item.Rating/10</p><br />
                <p>Ano : @item.Data.Year</p><br />
                <p>Duracao : @item.Duracao</p>
                @if (User.IsInRole("Gestor"))
                {
                    <a asp-action="Edit" asp-controller="Filmes" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-controller="Filmes" asp-route-id="@item.Id"> Delete </a>
                }
            </div>
        </div>
    }
    <div class="cl">&nbsp;</div>
</div>
<div class="box">
    <div class="head">
        <h2>POR DURAÇÃO</h2>
        <p class="text-right"><a asp-action="AllFilmes" asp-controller="Home" asp-route-a="3">See all</a></p>
    </div>

    @foreach (var item in Model.OrderByDescending(d => d.Duracao).Take(6))
    {
        <div class="movie">
            <div class="movie-image"> <span class="play"><span class="name"></span></span> <a asp-action="FilmePag" asp-route-id="@item.Id"><img src="~/fotos/@item.ListasDeFotografias.Min(p => p.Path)" alt="" /></a> </div>
            <div class="rating">
                <p>RATING @item.Rating/10</p><br />
                <p>Ano : @item.Data.Year</p><br />
                <p>Duracao : @item.Duracao</p>
                @if (User.IsInRole("Gestor"))
                {
                    <a asp-action="Edit" asp-controller="Filmes" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-controller="Filmes" asp-route-id="@item.Id"> Delete </a>
                }
            </div>
        </div>
    }

</div>
