@model IEnumerable<NotNetflix.Models.Filme>
@{
    ViewData["Title"] = "Index";
}



    <div class="box">
        <div class="head">
            <h2>RECENTES</h2>
            <p class="text-right"><a asp-action="AllFilmes" asp-controller="Home" asp-route-id="1">See all</a></p>
        </div>


        @foreach (var item in Model.OrderBy(d => d.Data).Take(6))
        {
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name"></span></span> <a asp-action="FilmePag" asp-route-id="@item.Id"><img src="~/fotos/@item.ListasDeFotografias.Min(f => f.Path)" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING @item.Rating/10</p><br />
                    <p>Ano : @item.Data.Year</p><br />
                    <p>Duracao : @item.Duracao</p>
                </div>
            </div>
        }

        <div class="cl">&nbsp;</div>
    </div>
    <div class="box">
        <div class="head">
            <h2>A ESCOLHA DOS CRÍTICOS</h2>
            <p class="text-right"><a asp-action="AllFilmes" asp-controller="Home" asp-route-id="2">See all</a></p>
        </div>

        @foreach (var item in Model.OrderByDescending(r => r.Rating).Take(6))
        {
    <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name"></span></span> <a asp-action="FilmePag" asp-route-id="@item.Id"><img src="~/fotos/@item.ListasDeFotografias.Min(p => p.Path)" alt="" /></a> </div>
        <div class="rating">
            <p>RATING @item.Rating/10</p><br />
            <p>Ano : @item.Data.Year</p><br />
            <p>Duracao : @item.Duracao</p>

        </div>
    </div>
        }
        <div class="cl">&nbsp;</div>
    </div>
    <div class="box">
        <div class="head">
            <h2>POR DURAÇÃO</h2>
            <p class="text-right"><a asp-action="AllFilmes" asp-controller="Home" asp-route-id="3">See all</a></p>
        </div>

        @foreach (var item in Model.OrderByDescending(d => d.Duracao).Take(6))
        {
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name"></span></span> <a asp-action="FilmePag" asp-route-id="@item.Id"><img src="~/fotos/@item.ListasDeFotografias.Min(p => p.Path)" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING @item.Rating/10</p><br />
                    <p>Ano : @item.Data.Year</p><br />
                    <p>Duracao : @item.Duracao</p>
                </div>
            </div>
        }

    </div>
