@model IEnumerable<NotNetflix.Models.Filme>
@{
    ViewData["Title"] = "Index";
}






<div id="content">
    <div class="box">
        <div class="head">
            <h2>RECENTES</h2>
            <p class="text-right"><a href="Filmes/Index">See all</a></p>
        </div>


        @foreach (var item in Model.OrderBy(d => d.Data))
        {
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name"></span></span> <a href="#"><img src="~/fotos/@item.ListasDeFotografias.Min(f => f.Path)" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING @item.Rating/10</p>
                    <span> Data : @item.Data</span>
                </div>
            </div>
        }

        <div class="cl">&nbsp;</div>
    </div>
    <div class="box">
        <div class="head">
            <h2>A ESCOLHA DOS CRÍTICOS</h2>
            <p class="text-right"><a href="#">See all</a></p>
        </div>

        @foreach (var item in Model.OrderByDescending(r => r.Rating))
        {
    <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name"></span></span> <a asp-action="FilmePag" asp-route-id="@item.Id"><img src="~/fotos/@item.ListasDeFotografias.Min(p => p.Path)" alt="" /></a> </div>
        <div class="rating">
            <p>RATING : @item.Rating</p>
            <span> Data : @item.Data</span>

        </div>
    </div>
        }
        <div class="cl">&nbsp;</div>
    </div>
    <div class="box">
        <div class="head">
            <h2>POR DURAÇÃO</h2>
            <p class="text-right"><a href="#">See all</a></p>
        </div>

        @foreach (var item in Model.OrderByDescending(d => d.Duracao))
        {
            <div class="movie">
                <div class="movie-image"> <span class="play"><span class="name"></span></span> <a href="#"><img src="~/fotos/@item.ListasDeFotografias.Min(p => p.Path)" alt="" /></a> </div>
                <div class="rating">
                    <p>RATING : @item.Rating</p>
                    <span> Data : @item.Data</span>
                    <span>Duracao : @item.Duracao</span>
                </div>
            </div>
        }

    </div>
</div>