@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MovieHunter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="~/js/jquery-func.js"></script>
    <script src="~/js/jquery_1.4.2.js"></script>
    <link href="~/css/folha_de_estilos.css" rel="stylesheet" />
</head>
<body>
    <!-- START PAGE SOURCE -->
    <div id="shell">
        <div id="header">
            <h1 id="logo"><a href="#">!Netflix</a></h1>
            <div class="social">
                <span>SIGA-NOS NAS REDES SOCIAIS:</span>
                <ul>
                    <li><a class="twitter" href="https://twitter.com/?lang=pt">twitter</a></li>
                    <li><a class="facebook" href="https://www.facebook.com/">facebook</a></li>
                    <li><a class="vimeo" href="https://vimeo.com">vimeo</a></li>
                    <li><a class="rss" href="https://pt.wikipedia.org/wiki/RSS">rss</a></li>
                </ul>
            </div>
            <div id="navigation">
                <ul>
                    <li><a class="active" asp-action="Index" asp-controller="Home">PÁGINA INICIAL</a></li>
                    
                    @if (User.IsInRole("Gestor"))
                    {
                        <li><a asp-action="Index" asp-controller="Utilizadores">GERIR UTILIZADORES</a></li>
                        <li><a asp-action="Create" asp-controller="Filmes">INTRODUZIR FILME</a></li>
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-action="Details" asp-controller="Utilizadores"  asp-route-userName="@User.Identity.Name" title="Manage">Olá @User.Identity.Name!</a> @* User.Identity.Name --> devolve o UserName  *@</li>
                        <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">SAIR</a></li>
                    }
                    else
                    {
                        <li><a asp-area="Identity" asp-page="/Account/Register">CRIAR CONTA</a></li>
                        <li><a asp-area="Identity" asp-page="/Account/Login">ENTRAR</a></li>
                    }
                </ul>
            </div>
            <div id="sub-navigation">
                <ul>
                    <li><a asp-controller="Home" asp-action="AllFilmes">MOSTRAR TODOS</a></li>
                    <li><a asp-action="AllFilmes" asp-controller="Home" asp-route-a="1">MOST RECENT MOVIE</a></li>
                    <li><a asp-action="AllFilmes" asp-controller="Home" asp-route-a="2">MELHORES CLASSIFICADOS</a></li>

                </ul>
                <div id="search">
                    <form method="get" asp-action="AllFilmes" asp-controller="Home" accept-charset="utf-8">
                        <label for="search-field">SEARCH</label>
                        <input type="hidden" name="a" value="4" />
                        <input type="text" name="s" id="search-field" class="blink search-field" placeholder="Título do filme"/>
                        <input type="submit" value="GO!" class="search-button" />
                    </form>
                </div>
            </div>
        </div>
        <div id="content">

            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </div>
    </div>


    <div class="cl">&nbsp;</div>

    <div id="footer">
        <p class="lf">Copyright &copy; 2021 <a href="#">NotNetflix</a> - All Rights Reserved - </p>

        <div style="clear:both;"></div>
    </div>
    @if (IsSectionDefined("Scripts")) {
        @RenderSection("Scripts", required:true);
    }
    @*@await RenderSectionAsync("Scripts", required: false)*@
    <!-- END PAGE SOURCE -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>